  .weather-app {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: white;
    position: relative;
    top: 30px;
    border: 1px solid white;
    padding: 5px auto;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 700px;
    background-image:url('pexels-pixabay-87651.jpg');
  }
  
  h1 {
    font-size: 50px;
    font-style: bold;
    position: relative;
    top: 10px;
    margin: 5px auto;
  }
  .den {
    font-size: 16px;
    position: relative;
    top: 10px;
    margin: 5px auto;
  }
  .temperature {
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin-left: 10px;
    position: relative;
    margin: 0 auto;
    top: 40px;
  }
  .units {
    position: relative;
    top: 14px;
  }
  p {
    font-size: 14px;
    font-style: bold;
    position: relative;
    top: 40px;
    margin: 0px auto;
  }
  
  input {
    display: inline;
    font-size: 15px;
    position: relative;
    left: 40px;
    top: 15px;
    margin: 15px 0 auto;
    padding: 15px auto;
  }
  li img {
    position: relative;
    font-size: 15px;
    margin: 0 0 auto;
    padding: 0;
    display: block;
  }
  
  li {
    position: relative;
    left: 20px;
    top: 10px;
    list-style-type: none;
    font-size: 15px;
    padding: 0px;
    margin: 0px auto;
    display: block;
  }
  
  .weather {
    position: relative;
    top: 60px;
    right: 5px;
    margin: 0px auto;
    padding: 0px;
  }
  .Weather-icon {
    position: relative;
    top: 30px;
    margin-right: 10px;
    height: 64px;
    width: 64px;
  }
  button {
    position: relative;
    top: 5px;
    left: 15px;
    margin-right: 0px;
  }
  .open-source {
    position: relative;
    left: 425px;
    top: 25px;
    font-size: 13px;
    margin: 2px auto;
    display: inline;
  }
  .descriptions{
    font-size: 18px;
    text-transform: capitalize;

  }
.icons{
  position:relative;
  top:30px;
}
.active{
  color: whitesmoke;
  cursor:default;
}
.active:hover{
  text-decoration: none;
}